doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0') 
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/javascripts/jquery-3.4.1.js')
    script(src='/javascripts/jquery-ui.js')
    script(src='/javascripts/datefunctions.js')
    block head
  body
    block content
    div(class="footer") Version 0.4


